@model string

<h1 style="text-align:center">Face detection</h1>
<p class="lead" style="text-align:center">Detect face attributes which contain machine learning-based predictions of facial features. The face attribute features available are: Age, Emotion, Gender, Pose, Smile, and Facial Hair along with 27 landmarks for each face in the image.</p>

<div class="row" style="background-color:#e9ecef; padding: 20px;">
    <div class="col-md-6">

        @if (!string.IsNullOrEmpty(Model))
        {
            <img class="img-thumbnail" src="@Url.Content(Model)" alt="people image" />
        }
        else
        {
            <img class="img-thumbnail" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22318%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20318%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_158bd1d28ef%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A16pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_158bd1d28ef%22%3E%3Crect%20width%3D%22318%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22129.359375%22%20y%3D%2297.35%22%3EImage%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="people image">
        }

    </div>
    <div class="col-md-6">
        <div class="card border-primary" style="max-height:400px;">
            <div class="card-header">Detection results</div>
            <div class="card-body">
                <h4 class="card-title">@ViewBag.CountPeople</h4>
                <p class="card-text">@ViewBag.Message</p>
            </div>
        </div>
    </div>

    <div class="col-md-6" style="margin-top:20px">
        @if (ViewBag.ErrorMessage != null)
        {
            <div class="alert alert-dismissible alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Error!</strong><br /> @ViewBag.ErrorMessage
            </div>
        }
        <p class="lead">Detect with an url</p>
        @using (Html.BeginForm("DetectExternalImage", "Home", FormMethod.Post, new { @class = "form-inline" }))
        {
            @Html.TextBox("RemoteURL", "", new { @class = "form-control mr-sm-2", type = "text", placeholder = "Image URL" })
            <input class="btn btn-primary" type="submit" value="Submit">
        }
        <p class="lead" style = "margin-top:10px;">Detect with a local image</p>
        @using (Html.BeginForm("DetectLocalImage", "Home", FormMethod.Post, new { @class = "form-inline", enctype = "multipart/form-data" }))
        {
            <input type="file" name="file" style="margin-left:10px;" accept="image/png, image/jpeg" />
            <button id="btnSelect" class="btn btn-outline-secondary" type="submit"><i class="glyphicon glyphicon-cloud-upload"></i> Upload</button>
        }
    </div>
</div>
